@import '~bulma/sass/utilities/initial-variables';

$indigo: #3f51b5;
$pink: #ff4081;
$primary: $indigo;
$info: $pink;
$link: $indigo;

$navbar-height: 1.625rem;

@import '~bulma/bulma.sass';

@import '~bulma-tooltip/src/sass/index';
