html {
  overflow: hidden;
}

.home {
  margin: 0vh 2vh;
}

.message {
  height: 96vh;
  display: flex;
  flex-direction: column;
  margin: 2vh 0vh;
}

.message-header {
  flex-shrink: 0;
}

.message-body {
  padding: 0em;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.column {
  padding-bottom: 0px;
}

.item {
  margin: 0.5em;
}

hr {
  margin: 0.25em;
}

.hide-underline {
  text-decoration: none !important;
}
